* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', 'Roboto', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
}

.header {
  min-width: 15%;
  margin-top: 160px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 31px;
  color: #000000;

  display: flex;
  flex-direction: column;
  justify-content: center;

  div {
    padding-left: 10px;
  }

  div:nth-child(2n-1) {
    background: #F4F2EE;
  }
}

.catalog {
  min-width: 85%;
  display: flex;
  overflow-x: overlay;
}

.tumba-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 210px;
  width: 210px;
  margin-bottom: 25px;

  color: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 31px;

  .name {
    line-height: 17px;
    padding-left: 10px;
  }

  .name, .price, .info, .rating {
    padding-left: 10px;
  }

  span:nth-child(2n-1) {
    background: #F4F2EE;
  }

  .photo {
    background: #F4F2EE;
    mix-blend-mode: normal;
    border-radius: 10px;
    height: 160px;
    padding-top: 20px;
    margin: 10px;

    img {
      mix-blend-mode: darken;
      max-width: 88%;
      height: auto;
    }
  }

  .heart {
    background: #FFFFFF;
    border: 2px solid #FF9F9F;
    box-sizing: border-box;
    border-radius: 4px;
    width: 51px;
    height: 35px;
    margin-top: 15px;
  }

  .buy {
    background: #009900;
    border: 2px solid #009900;
    border-radius: 4px;

    width: 117px;
    height: 35px;
    margin-left: 16px;

    font-family: Proxima Nova, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }
}